@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
//@font-face {
//  font-family: 'Noah Text', sans-serif;
//  src: url('../fonts/Noah-Regular.ttf') format('ttf');
//}
//
//@font-face {
//  font-family: 'TT Norms', sans-serif;
//  src: url('../fonts/TTNormsRegular.ttf') format('ttf');
//}

body {
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  //&__bg{
  //  position: absolute;
  //  background: radial-gradient(50% 50% at 50% 50%, rgba(181, 223, 148, 0.8) 0%, rgba(181, 223, 148, 0) 100%);
  //  width: 1580px;
  //  height: 1580px;
  //  top: -400px;
  //  right: -400px;
  //  @media(max-width: 420px) {
  //    width: 430px;
  //    height: 430px;
  //    top: 100px;
  //    right: -200px;
  //  }
  //}
}

.container{
  z-index: 10;
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  flex: 1 0 auto;
  @media(max-width: 768px) {
    padding: 0 30px;
  }
  @media(max-width: 420px) {
    padding: 0 10px;
  }
  &__pol {
    position: relative;
    height: 0vh;
  }
  //&__bg{
  //  position: absolute;
  //  background: radial-gradient(50% 50% at 50% 50%, rgba(181, 223, 148, 0.8) 0%, rgba(181, 223, 148, 0) 100%);
  //  width: 1488px;
  //  height: 1488px;
  //  top: 544px;
  //  left: -850px;
  //  z-index: -1;
  //  @media(max-width: 420px) {
  //    width: 430px;
  //    height: 430px;
  //    top: 860px;
  //    left: -215px;
  //  }
  //}
}

.call {
  width: 240px;
  height: 60px;
  background: #1FA464;
  border-radius: 10px;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  @media(max-width: 420px) {
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 20px -5px rgb(0 189 86 / 80%);
  }
}
h2 {
  /* H2 */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  /* or 70px */
  text-align: center;
  color: #292929;
  @media(max-width: 768px) {
    font-size: 46px;
  }
  @media(max-width: 420px) {
    font-size: 32px;
  }
}
.list {
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 110% !important;
  }
  li{
    position: relative;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #292929;
    padding-left: 30px;
    padding-bottom: 20px;
    transition: all 200ms ease-in ;
    @media(max-width: 420px) {
      padding-left: 26px;
    }
    span {
      color: #1FA464;
    }
    &:before {
      content: "";
      position: absolute;
      background-image: url('../img/before.png');
      width: 14px;
      height: 24px;
      left: 0;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
.header {
  padding: 25px 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @media(max-width: 768px) {
    padding: 0 30px;
  }
  @media(max-width: 420px) {
    padding: 0 10px;
  }
  &__logo {
    img {
      @media(max-width: 768px) {
        width: 150px;
      }
      @media(max-width: 420px) {
        width: 100px;
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    a {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #292929;

      width: 246px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width: 768px) {
        width: 100%;
      }
      &:last-child {
        @media(max-width: 768px) {
          display: none;
        }
      }
      @media(max-width: 420px) {
        font-size: 16px;
      }
    }
  }
}

.banner {
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__bg {
    position: absolute;
    left: calc(50% - 690px/2 + 225px);
    top: calc(50% - 294px/2 - 1285.5px);
    mix-blend-mode: multiply;
    opacity: 0.7;
    max-width: 690px;

    width: 100%;
    @media(max-width: 1024px) {
      left: 0px;
      top: 360px;
    }
    @media(max-width: 768px) {
      left: 0px;
      top: 210px;
    }
    img {
      width: 100%;
    }
  }
  &__text {
    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 78px;
      line-height: 110%;
      /* or 86px */

      display: flex;
      align-items: center;

      color: #292929;
      padding-bottom: 30px;
      @media(max-width: 768px) {
        font-size: 50px;
      }
      @media(max-width: 420px) {
        font-size: 32px;
      }
    }
    button {
      margin-top: 30px;
    }

  }
  &__img {
    max-width: 619px;
    width: 100%;
    z-index: 10;
    img {
      object-fit: contain;
      width: 100%;
    }
    @media(max-width: 1024px) {
      display: none;
    }
  }
  &__img-sm {
    display: none;
    max-width: 619px;
    width: 100%;
    z-index: 10;
    padding-bottom: 20px;
    img {
      object-fit: contain;
      width: 100%;
    }
    @media(max-width: 1024px) {
      display: block;
    }
  }
}

.atoll {
  padding: 60px 0;
  z-index: 20;
  text-align: center;
  @media(max-width: 768px) {
    padding: 40px 0;
  }
  ul {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    align-items: center;
    display: flex;
    opacity: 0;

  }
  &__unhover {
    opacity: 1;
  }
  &__text {
    padding: 10px;
    max-width: 508px;
    width: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    @media(max-width: 768px) {
      flex-direction: column;
      padding: 40px 0;
    }
    p {
      text-align: start !important;
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #292929;
      padding-bottom: 25px;
    }
  }
  &__img {
    max-width: 603px;
    width: 100%;
    position: relative;
    &:hover {
      .atoll__unhover {
        opacity: 0;
      }
      .atoll__hover {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__img-sm {
    display: none;
    max-width: 603px;
    width: 100%;
    padding-bottom: 40px;
    img {
      width: 100%;
      object-fit: contain;
    }
    @media(max-width: 768px) {
      display: block;
    }
  }
}

.replacement {
  padding: 60px 0;
  z-index: 20;
  @media(max-width: 768px) {
    padding: 40px 0;
  }
  &__hover {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    align-items: center;
    display: flex;
    opacity: 0;

  }
  &__unhover {
    opacity: 1;
  }
  &__img {
    max-width: 250px;
    width: 100%;
    position: relative;
    @media(max-width: 768px) {
      padding: 20px 0;
    }
    &:hover {
      .replacement__unhover {
        opacity: 0;
      }
      .replacement__hover {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    @media(max-width: 768px) {
      padding: 40px 0;
      flex-direction: column;
    }
  }
  &__text {
    max-width: 410px;
    width: 100%;
    p {
      padding-bottom: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */

      display: flex;
      align-items: center;

      color: #292929;
    }
  }
  &__list {
    max-width: 410px;
    width: 100%;
    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 110%;
      /* or 22px */

      display: flex;
      align-items: center;

      color: #292929;
      padding: 10px 0;
    }
  }

}
.contacts {
  padding: 60px 0;
  z-index: 20;
  @media(max-width: 768px) {
    padding: 30px 0;
  }
  &__map {
    max-width: 808px;
    width: 100%;
    iframe {
      width: 100%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    @media(max-width: 768px) {
      flex-direction: column;
      padding: 20px 0;
    }
  }
  &__info {
    max-width: 428px;
    width: 100%;
    padding: 10px;
  }
  ul {
    li {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      /* or 22px */

      display: flex;
      align-items: center;

      color: #292929;
      padding: 17px 0;
      a {
        color: #292929;
      }
    }
  }
}
.footer {
  z-index: 10;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  flex: 0 0 auto;
  @media(max-width: 768px) {
    padding: 0 30px;
  }
  @media(max-width: 420px) {
    padding: 0 10px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    @media(max-width: 768px) {
      flex-wrap: wrap;
      justify-content: start;
    }
    &:last-child {
      @media(max-width: 768px) {
        flex-wrap: wrap;
        justify-content: start;
        padding: 0 0 12px 0;
      }
      p {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        align-items: center;

        color: #292929;
        &:last-child {
          border-bottom: 1px solid #292929;
        }
      }
    }
  }
  &__name {
    display: flex;
    align-items: center;
    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 110%;
      /* or 22px */

      display: flex;
      align-items: center;

      color: #292929;
      @media(max-width: 420px) {
        font-size: 22px;
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    @media(max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    a {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #292929;

      width: 246px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width: 420px) {
        font-size: 16px;
        width: 300px;
      }
      &:last-child {
        @media(max-width: 420px) {
          display: none;
        }
      }
    }
  }
}
.politics__privacy {
  cursor: pointer;
}
.form {
  background: rgb(171 171 171 / 94%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  //display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* см. ниже */
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  overflow: hidden;
  &__open {
    width: 240px;
    height: 60px;
    background: #00BD56;
    border-radius: 10px;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    @media(max-width: 420px) {
      width: 100%;
    }
    &:hover {
      box-shadow: 0 0 20px -5px rgb(0 189 86 / 80%);
    }
  }
  &__cross {
    width: 26px;
    height: 26px;
    border-radius: 40px;
    z-index: 1;
    margin-left: auto;
    cursor: pointer;
    top: -22px;
    right: -50px;
    position: absolute;
    @media(max-width: 520px) {
      top: -15px;
      right: -15px;
    }
    &:before {
      content: "+";
      color: #E4E4E4;
      position: absolute;
      z-index: 2;
      transform: rotate(45deg);
      font-size: 46px;
      line-height: 1;
      top: -9px;
      left: 0px;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: #E4E4E4;
      z-index: 1;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
      transform: scale(0.01);
    }
    &:hover:after {
      transform: scale(1);
    }
    &:hover:before {
      transform: scale(0.8) rotate(45deg);
      color: #fff;
    }
  }
  h2{
    font-family: 'Noah Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    /* or 43px */


    /* Black */

    color: #323333;
    @media(max-width: 520px) {
      font-size: 24px;
    }
  }
  p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    color: #292929;
    span {
      cursor: pointer;
      border-bottom: 1px solid #292929;
    }
    @media(max-width: 520px) {
      font-size: 16px;
    }
    //&:last-child{
    //  text-align: center;
    //  font-family: 'Source Sans Pro';
    //  font-style: normal;
    //  font-weight: 400;
    //  font-size: 16px;
    //  line-height: 140%;
    //  /* or 22px */
    //
    //  text-align: center;
    //
    //  color: #292929;
    //  @media(max-width: 520px) {
    //    font-size: 16px;
    //  }
    //
    //}
  }
  &__request {
    position: relative;
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        max-width: 341px;
        width: 100%;
        height: 59px;
        border: 2px solid #B0B0B0;
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px 20px;
        font-family: 'Noah Text', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #323333;
        &._error {
          box-shadow: 0 0 15px red;
        }
        ::-webkit-input-placeholder {
          font-family: 'Noah Text', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #A6A6A6;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        :-moz-placeholder {
          font-family: 'Noah Text', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #A6A6A6;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        ::-moz-placeholder {
          font-family: 'Noah Text', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #A6A6A6;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        :-ms-input-placeholder {
          font-family: 'Noah Text', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #A6A6A6;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        ::-ms-input-placeholder {
          font-family: 'Noah Text', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #A6A6A6;
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        ::placeholder {

        }
      }
      button{
        max-width: 341px;
        width: 100%;
        margin: 10px 0;
      }
    }
  }
  &__answer {
    position: relative;
    display: none;
    img{
      margin: 15px 0;
    }
    p{
      margin-bottom: 20px;
    }
  }
  &__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  &__window {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 100%;
    max-width: 520px;
    overflow: visible;
    transition: transform 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
    transform: scale(0.9);
    padding: 50px 90px;
    border-radius: 10px;
    @media(max-width: 520px) {
      padding: 30px;
    }
  }
  &__close {
    width: 230px;
    height: 62px;
    border: 2px solid #00BD56;
    border-radius: 10px;
    background: none;
    font-family: 'Noah Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #16C23C;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: background 0.5s;
    &:hover {
      background: #16C23C;
      box-shadow: 0 0 20px -5px rgb(0 189 86 / 80%);
      color: #FFFFFF;
    }
  }
}
.form__bg {
  position: absolute;
  width: 1088px;
  height: 1088px;
  left: -284px;
  top: 155px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(181, 223, 148, 0.8) 0%, rgba(181, 223, 148, 0) 100%);
}
.politics {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding:30px 0;
  &__privacy-text {
    -webkit-mask-image: linear-gradient(180deg, #323333 65.67%, rgba(50, 51, 51, 0) 111.5%);
    -webkit-mask-size: 100% 95%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
    transition: 1s;
  }
  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    span {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #242424;
    }
  }
  &__text {
    position: relative;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, white, transparent);
    z-index: 100;
    margin-right: 15px;
  }
}

.politics__window {
  padding: 0 15px;
  max-width: 854px;
  width: 100%;
  h1 {
    max-width: 768px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 40px;
    /* or 58px */

    text-align: center;

    /* Black */

    color: #323333;
    @media(max-width: 520px) {
      font-size: 24px;
    }
  }
  p{
    position: relative;
    max-height: 530px;
    padding-right: 86px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    overflow-y: scroll;
    @media(max-width: 800px) {
      padding-right: 30px;
    }
    @media(max-width: 520px) {
      padding-right: 15px;
      max-height: 370px;
    }
    &::-webkit-scrollbar {
      z-index: 200;
      width: 3px;
      @media(max-width: 520px) {
        display: none;
      }
    }
    &::-webkit-scrollbar-track {
      background: #A6A6A6;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #00BD56;
    }
  }

}

// anim
.animation-title {
  transform: translate(0, -50%);
  opacity: 0;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
}
.animation-title._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
}
//
.animation-list {
  opacity: 0;
  transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
}
.animation-list._active {
  opacity: 1;
  transition: all 1s ease-in 0.5s;
  -webkit-transition: all 1s ease-in 0.5s;
}
//
.animation-btn {
  transform: translate(0, 50%);
  opacity: 0;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
}
.animation-btn._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
}
//
.animation-banner {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 0.5s ease-in 0s;
}
.animation-banner._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.4s ease-in 0s;
}
//
.animation-atoll-img {
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.5s ease-in 0s;
}
.animation-atoll-img._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.4s ease-in 0s;
}
//
.animation-atoll__text-one {
  transform: translate(0, -100%);
  opacity: 0;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
}
.animation-atoll__text-one._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.6s ease-in 0s;
  -webkit-transition: all 0.6s ease-in 0s;
  
}
//
.animation-atoll__text-two {
  transform: translate(0, -100%);
  opacity: 0;
  transition: all 1s ease-in 0s;
}
.animation-atoll__text-two._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease-in 0s;
}
//
.animation-contacts {
  transform: translate(0, 20%);
  opacity: 0;
  transition: all 0.8s ease-in 0s;
}
.animation-contacts._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.8s ease-in 0.2s;
}
