@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
  height: 100vh;
}



.politics__bg {
  display: none;
  position: absolute;
  width: 1580px;
  height: 1580px;
  left: 590px;
  top: -403px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 3000px;
}

.container {
  z-index: 10;
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 420px) {
  .container {
    padding: 0 10px;
  }
}
.container__pol {
  position: relative;
  height: 100vh;
}

.call {
  width: 240px;
  height: 60px;
  background: #1FA464;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #FFFFFF;
}
@media (max-width: 420px) {
  .call {
    width: 100%;
  }
}
.call:hover {
  box-shadow: 0 0 20px -5px rgba(0, 189, 86, 0.8);
}

h2 {
  /* H2 */
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  /* or 70px */
  text-align: center;
  color: #292929;
}
@media (max-width: 768px) {
  h2 {
    font-size: 46px;
  }
}
@media (max-width: 420px) {
  h2 {
    font-size: 32px;
  }
}
.list {
  position: relative;
  z-index: 7;
}
.list p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 30px !important;
}
.list li {
  position: relative;
  text-align: start;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #292929;
  padding-left: 30px;
  padding-bottom: 20px;
  transition: all 200ms ease-in;
  box-sizing: border-box;
}
@media (max-width: 420px) {
  .list li {
    padding-left: 26px;
    display: flex;
    flex-direction: column;
  }
  .list li span {
    margin-left: -10px;
  }
}
@media (max-width: 768px) {
  .list li {
    align-items: start !important;
    justify-content: start;
    padding-bottom: 0;
    margin-top: 20px;
  }
}
.list li span {
  color: #1FA464;
}
.list li:before {
  content: "";
  position: absolute;
  background-image: url("../img/before.svg");
  width: 14px;
  height: 24px;
  left: 0;
  top: 7px;
  transition: all 200ms ease-in;
}
.list li:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.header {
  padding: 25px 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .header {
    padding: 0 30px;
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 420px) {
  .header {
    padding: 25px 12px;
  }
}
@media (max-width: 768px) {
  .header__logo img {
    width: 150px;
  }
}
@media (max-width: 420px) {
  .header__logo img {
    width: 100px;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__contacts {
    flex-direction: column;
    align-items: start;
  }
}
.header__contacts a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #292929;
  height: 30px;
  display: flex;
  align-items: center;
}
.header__contacts a:first-child {
  margin-right: 40px;
}
@media (max-width: 768px) {
  .header__contacts a:first-child {
    margin-top: 16px;
  }
}

.banner {
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 14px;
}
@media (max-width: 768px) {
  .banner  {
    padding-top: 24px;
  }
}
.banner__bg {
  position: absolute;
  right: 150px;
  top: 184px;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  opacity: 0.7;
  max-width: 690px;
  width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  .banner__bg {
    left: 0px;
    top: 360px;
  }
}
@media (max-width: 768px) {
  .banner__bg {
    left: 0;
    top: 210px;
  }
}
.banner__text h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 110%;
  width: 65vw;
  max-width: 980px;
  /* or 86px */
  display: flex;
  align-items: center;
  color: #292929;
  padding-bottom: 30px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1030px) {
  .banner__text h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .banner__text h1 {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .banner__text h1 {
    font-size: 32px;
  }
}
.banner__text button {
  margin-top: 30px;
}
.banner_img-container {
  position: absolute;
  right: 0;
  z-index: 3;
  display: block;
}
.banner_img-container img {
  width: 55vw;
  max-width: 775px;
}
@media (max-width: 768px) {
  .banner_img-container {
    display: none;
  }
}
.banner_img-container-sm {
  display: none;
}
@media (max-width: 768px) {
  .banner_img-container-sm {
    display: block;
  }
  .banner_img-container-sm img {
    width: 100%;
  }
}



.atoll {
  padding: 124px 0 0 0;
  z-index: 20;
  text-align: center;
}
@media (max-width: 768px) {
  .atoll {
    padding: 56px 0 0 0;
  }
}
.atoll ul {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}
.atoll__hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  display: flex;
  opacity: 0;
}
@media (max-width: 768px) {
  .atoll__hover {
    display: none;
  }
}
.atoll__unhover {
  opacity: 1;
}
.atoll__text {
  padding: 10px;
  width: 100%;
  margin-left: 48px;
}
@media (max-width: 768px) {
  .atoll__text {
    padding: 10px 0 0 0;
    margin: 20px 0 0 0 ;
  }
}
.atoll__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
@media (max-width: 768px) {
  .atoll__content {
    flex-direction: column;
    padding: 40px 0 0 0;
  }
}
.atoll__content p {
  text-align: start !important;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #292929;
  padding-bottom: 25px;
}
.atoll__img {
  max-width: 603px;
  width: 100%;
  z-index: 11;
  position: relative;
  left: 33px;
}
.atoll__img:hover .atoll__unhover {
  opacity: 0;
}
@media (max-width: 768px) {
  .atoll__img:hover .atoll__unhover {
    opacity: 1;
  }
}
.atoll__img:hover .atoll__hover {
  opacity: 1;
}
.atoll__img img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .atoll__img img {
    width: 90%;
  }
}
.atoll__img-vector {
  position: absolute;
  z-index: 9;
  margin-top: 130px;
  max-width: 600px;
  width: 40%;
  object-fit: contain;
  margin-left: 25px;
}
@media (max-width: 768px) {
  .atoll__img-vector{
    width: 90%;
    left: 0;
    margin-top: 100px;
  }
}
@media (max-width: 389px) {
  .atoll__img-vector{
    margin-top: 100px;
  }
}
@media (max-width: 322px) {
  .atoll__img-vector{
    margin-top: 70px;
  }
}

.list-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .list-container{
    flex-direction: column;
  }
}
.list li{
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  /* text */
  color: #292929;
}

.atoll__img-sm {
  display: none;
  max-width: 603px;
  width: 90%;
  padding-bottom: 40px;
  position: relative;
}
.atoll__img-sm-img {
  width: 100%;
  object-fit: contain;
  position: relative;
  z-index: 11;
}
@media (max-width: 768px) {
  .atoll__img-sm {
    display: block;
  }
}
.atoll__img-vector-sm {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
  width: 100%;
}

.replacement {
  padding: 124px 0 0 0;
  z-index: 20;
}
@media (max-width: 768px) {
  .replacement {
    padding: 56px 0 0 0;
  }
}
.replacement__hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  display: flex;
  opacity: 0;
  z-index: 11;
}
.replacement__unhover {
  opacity: 1;
  z-index: 11;
  position: relative;
}
.replacement__img {
  max-width: 250px;
  position: relative;
  margin: 0 20px 0 40px;
}
@media (max-width: 768px) {
  .replacement__img {
    display: none;
  }
}
.replacement__img-item{
  width: 100%;
}

@media (max-width: 768px) {
  .replacement__img {
    padding: 20px 0;
  }
}
.replacement__img-vector {
  position: absolute;
  z-index: 9;
  top: 20px;
  right: 20px;
  width: 100%;
}

.replacement__img:hover .replacement__unhover {
  opacity: 0;
}
.replacement__img:hover .replacement__hover {
  opacity: 1;
}
.replacement__img img {
  width: 100%;
  object-fit: contain;
}
.replacement__img-sm {
  display: none;
  margin: 0 0 24px 0;
}
@media (max-width: 768px) {
  .replacement__img-sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.replacement__img-one:first-child {
  width: 45.5vw;
}
.replacement__img-one:last-child {
  margin-left: 4vw;
  width: 42vw;
}
.replacement__img-sm_rebro-vector {
  position: relative;
}
.replacement__img-sm_rebro {
  position: absolute;
}
.replacement__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 0 0;
}
@media (max-width: 768px) {
  .replacement__content {
    padding: 40px 0 0 0;
    flex-direction: column;
  }
}
@media (max-width: 1260px) {
  .replacement__content {
    flex-direction: column;
  }
}
.replacement__text {
  max-width: 473px;
  width: 100%;
}
@media (max-width: 1260px) {
  .replacement__text {
    max-width: 100%;
  }
}
.replacement__text p {
  padding-bottom: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* or 22px */
  display: flex;
  align-items: center;
  color: #292929;
}
.replacement__list {
  max-width: 473px;
  width: 100%;
}
@media (max-width: 1260px) {
  .replacement__list {
    max-width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .replacement__list {
    margin-top: 0;
  }
}
.replacement__list p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #292929;
  padding: 10px 0;
}

.contacts {
  padding: 124px 0 0 0;
  z-index: 20;
}

.contacts__info-list {
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .contacts {
    padding: 56px 0 30px 0;
  }
}
.contacts__map {
  max-width: 808px;
  width: 100%;
}
@media (max-width: 400px) {
  .contacts__map {
    max-height: 250px;
    overflow: hidden;
  }
}
.contacts__map iframe {
  width: 100%;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
@media (max-width: 768px) {
  .contacts__content {
    flex-direction: column;
    padding: 20px 0;
  }
}
.contacts__info {
  max-width: 455px;
  width: 100%;
  margin-left: 48px;
}
@media (max-width: 768px) {
  .contacts__info {
    margin-left: 0;
  }
}
.contacts ul li {
   font-family: "Source Sans Pro", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: start;
   color: #292929;
   padding-bottom: 37px;
 }
.contacts ul li p:first-child {
  font-weight: 700;
}
@media (max-width: 768px) {
  .contacts__info {
    padding: 0;
  }
  .contacts ul {
    margin: 24px 0 0 0;
  }
  .contacts ul li {
    padding-bottom: 20px;
  }
  .contacts__info-list {
    margin-bottom: 45px;
  }
  .contacts__info button {
    width: 93vw;
  }
}
.contacts ul li a {
  color: #292929;
}


.footer {
  z-index: 10;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 30px;
  }
}
@media (max-width: 420px) {
  .footer {
    padding: 0 10px;
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
@media (max-width: 768px) {
  .footer__row {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (max-width: 768px) {
  .footer__row:last-child {
    flex-wrap: wrap;
    justify-content: start;
    padding: 0 0 12px 0;
  }
}
.footer__row:last-child p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #292929;
}
@media (max-width: 768px) {
  .footer__row:last-child p {
    margin: 4px 0 16px 0;
  }
}
.footer__row:last-child p:last-child a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #292929;
  cursor: pointer;
  border-bottom: 1px solid #292929;
}
.footer__name {
  display: flex;
  align-items: center;
}
.footer__name p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #292929;
}
@media (max-width: 420px) {
  .footer__name p {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .footer__name p {
    margin-bottom: 16px;
  }
}
.footer__contacts {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__contacts {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__contacts a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #292929;
  display: flex;
  height: 34px;
  justify-content: center;
  align-items: center;
}
.footer__contacts a:first-child {
  margin-right: 40px;
}
@media (max-width: 420px) {
  .footer__contacts {
    flex-direction: column;
  }
  .footer__contacts a {
    justify-content: flex-start;
  }
}

.politics__privacy {
  cursor: pointer;
}

.form {
  background: rgba(171, 171, 171, 0.94);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  flex-flow: column nowrap;
  justify-content: center; /* см. ниже */
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  overflow: hidden;
}
.form__open {
  width: 240px;
  height: 60px;
  background: #00BD56;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #FFFFFF;
}
@media (max-width: 420px) {
  .form__open {
    width: 100%;
  }
}
.form__open:hover {
  box-shadow: 0 0 20px -5px rgba(0, 189, 86, 0.8);
}
.form__cross {
  width: 26px;
  height: 26px;
  border-radius: 40px;
  z-index: 1;
  margin-left: auto;
  cursor: pointer;
  top: -22px;
  right: -50px;
  position: absolute;
}
@media (max-width: 520px) {
  .form__cross {
    top: -15px;
    right: -15px;
  }
}
.form__cross:before {
  content: "+";
  color: #E4E4E4;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 46px;
  line-height: 1;
  top: -9px;
  left: 0;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.form__cross:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #E4E4E4;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.form__cross:hover:after {
  transform: scale(1);
}
.form__cross:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}
.form h2 {
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  /* Black */
  color: #323333;
}
@media (max-width: 520px) {
  .form h2 {
    font-size: 24px;
  }
}
.form p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #292929;
}
.form p a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #292929;
  cursor: pointer;
  border-bottom: 1px solid #292929;
}
@media (max-width: 520px) {
  .form p {
    font-size: 16px;
  }
}
.form__request {
  position: relative;
}
.form__request form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__request form input {
  max-width: 341px;
  width: 100%;
  height: 59px;
  border: 2px solid #B0B0B0;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 20px;
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #323333;
}
.form__request form input._error {
  box-shadow: 0 0 15px red;
}
.form__request form input ::-webkit-input-placeholder {
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.form__request form input :-moz-placeholder {
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.form__request form input ::-moz-placeholder {
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.form__request form input :-ms-input-placeholder {
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.form__request form input ::-ms-input-placeholder {
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.form__request form button {
  max-width: 341px;
  width: 100%;
  margin: 10px 0;
}
.form__answer {
  position: relative;
  display: none;
}
.form__answer img {
  margin: 15px 0;
}
.form__answer p {
  margin-bottom: 20px;
}
.form__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.form__window {
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 100%;
  max-width: 520px;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  padding: 50px 90px;
  border-radius: 10px;
}
@media (max-width: 520px) {
  .form__window {
    padding: 30px;
  }
}
.form__close {
  width: 230px;
  height: 62px;
  border: 2px solid #00BD56;
  border-radius: 10px;
  background: none;
  font-family: "Noah Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #16C23C;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: background 0.5s;
}
.form__close:hover {
  background: #16C23C;
  box-shadow: 0 0 20px -5px rgba(0, 189, 86, 0.8);
  color: #FFFFFF;
}


.politics {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
}
.politics__privacy-text {
  -webkit-mask-image: linear-gradient(180deg, #323333 65.67%, rgba(50, 51, 51, 0) 111.5%);
  -webkit-mask-size: 100% 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
  transition: 1s;
}
.politics__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.politics__btn a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #242424;
}
.politics__text {
  position: relative;
}
.politics__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, white, transparent);
  z-index: 100;
  margin-right: 15px;
}

.politics__window {
  padding: 0 15px;
  max-width: 854px;
  width: 100%;
}
.politics__window h1 {
  max-width: 768px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  padding-bottom: 40px;
  /* or 58px */
  text-align: center;
  /* Black */
  color: #323333;
}
@media (max-width: 520px) {
  .politics__window h1 {
    font-size: 24px;
  }
}
.politics__window p {
  position: relative;
  max-height: 530px;
  padding-right: 86px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  overflow-y: scroll;
}
.politics__window p span a {
  color: #000;
}
@media (max-width: 800px) {
  .politics__window p {
    padding-right: 30px;
  }
}
@media (max-width: 520px) {
  .politics__window p {
    padding-right: 15px;
    max-height: 370px;
  }
}
.politics__window p::-webkit-scrollbar {
  z-index: 200;
  width: 3px;
}
@media (max-width: 520px) {
  .politics__window p::-webkit-scrollbar {
    display: none;
  }
}
.politics__window p::-webkit-scrollbar-track {
  background: #A6A6A6;
}
.politics__window p::-webkit-scrollbar-thumb {
  background-color: #00BD56;
}

.animation-title {
  transform: translate(0, -80%);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-title._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 1s ease-in-out;
}

.animation-list {
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-list._active {
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: opacity 4s;
}

.animation-btn {
  transform: translate(0, 80%);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-btn._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 1s ease-in-out;
}

.animation-banner {
  transform: translate(120%, 0);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-banner._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 1s ease-in-out;
}

.animation-atoll-img {
  transform: translate(-120%, 0);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-atoll-img._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 1s ease-in-out;
}

.animation-atoll__text-one {
  transform: translate(0, 100%);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-atoll__text-one._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 0.8s ease-in-out;
}

.animation-atoll__text-two {
  transform: translate(0, 100%);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: 0s;
}

.animation-atoll__text-two._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 1.5s ease-in-out;
}

.animation-contacts {
  transform: translate(0, 20%);
  /*opacity: 0;*/
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(0); /* For IE8 and earlier */
  transition: all 0.8s ease 0s;
}

.animation-contacts._active {
  transform: translate(0, 0);
  /*opacity: 1;*/
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  -webkit-filter: opacity(1); /* For IE8 and earlier */
  transition: all 0.8s ease 0.2s;
}
